<%-include('partials/header')%>

<div id="home-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 userallinfo">
        <div class="userinfo">
          <p class="avtar">
            <img src="https://www.w3schools.com/w3images/avatar3.png" class="userpic"alt="userpic"/>
          </p>
          <h5 class="username"><%= currentUser.fname %> <%= currentUser.lname %></h5>
          <hr />
          <p class="userbranch">branch: <span>ECE</span></p>
          <p class="useryear">year: <span>4th</span></p>
          <hr />
          <p class="userfollowers">followers: <span>10</span></p>
          <p class="userfollowing">following: <span>10</span></p>
        </div>
        <div class="otherinfo">
          <p class="interest">Lorem ipsum dolor</p>
          <hr />
          <p class="interest">Lorem ipsum dolor</p>
          <hr />
          <p class="interest">Lorem ipsum dolor</p>
          <hr />
          <p class="interest">Lorem ipsum dolor</p>
        </div>
      </div>
      <div class="col-lg-9 col-md-8 blog">
        <div class="createpost">
          <div class="userimg">
            <img src="https://www.w3schools.com/w3images/avatar3.png" class="userpic"alt="userpic"/>
          </div>
          <div class="create">
            <div class="textarea" data-bs-toggle="modal" data-bs-target="#textareaModal">
              <a>Ask or share anything here...</a>
            </div>
            <div class="post">
              <button type="button" class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#textareaModal">
                Post
              </button>
            </div>

            <div class="modal fade" id="textareaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <!-- Modal Header with close button-->
                  <div class="modal-header">
                    <h5 class="modal-title">Create a new post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>
                  <!-- Modal body with textarea-->
                  <form method="POST" action="/">
                    <div class="modal-body">
                      <input class="form-control" placeholder="Title" name="blogtitle" required/>
                      <textarea
                        class="form-control ask"
                        placeholder="What's on your mind... Ask or Share"
                        rows="10" name="blogbody" required
                      ></textarea>
                    </div>
                    <!-- Modal footer with submit button-->
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-sm">
												Post
											</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <% blogs.forEach(function(blog) { %>
          <div class="blogpost">
            <div class="userdetails">
              <span>
                <img src="https://www.w3schools.com/w3images/avatar3.png" class="userpic"alt="userpic"/>
              </span>
              <span class="username"><%= blog.user_name.fname %> <%= blog.user_name.lname %></span>
              <span class="timestamp">1 min ago</span>
              <hr />
            </div>
            <div class="blogtitle">
              <h6><%= blog.blogtitle %></h6>
            </div>
            <div class="blogbody">
              <p>
                <%= blog.blogbody %>
              </p>
            </div>
            <hr />
            <div class="social">
              <span class="upvote" data-bs-toggle="tooltip" data-bs-placement="top" title="Upvote"><i class="bi bi-arrow-up-circle"></i>50</span>
              <span class="downvote" data-bs-toggle="tooltip" data-bs-placement="top" title="Downvote"><i class="bi bi-arrow-down-circle"></i>5</span>
              <span class="comments"><i class="bi bi-chat-text"></i>Comments</span>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>

<%-include('partials/footer')%>
